<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>HOODLY</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="shortcut icon" href="/static/img/favicon.ico">

    <!-- Add custom CSS here -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/stylish-portfolio.css">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/fonts/Lucida-Console/LUCON.TTF">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>


    <!-- GOOGLE ANALYTICS STUFF BELOW //AÅ-->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-52230105-1', 'auto');
        ga('require', 'displayfeatures');
        ga('send', 'pageview');

    </script>


</head>

<body>


<!-- Full Page Image Header Area -->
<div id="top" class="header">
    <div class="header-text">
        <h1><u>OBJEKTIA</h1></u>
        <h3 style="color: #ffffff">Hitta bättre lokaler</h3>
        <br>
        <br>
        <div class="btn-group btn-group-lg">

            <a class="btn btn-lg btn-success" id="beta-top-button" href="#beta">Låt oss kontakta er</a>

        </div>
        <div class="btn-group btn-group-lg">
            <a class="btn btn-lg btn-success" id="read-more-button" href="#about">Läs mer</a>
        </div>




    </div>
</div>





<!-- /Full Page Image Header Area -->

<!-- Intro -->
<div id="about" class="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center">
                <h2>Samarbetspartners</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="service-item">
                    <img src="/static/img/linkopingkommun.png" style="height: 80%; width: 80%"></img>

                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="service-item">
                    <img src="/static/img/Corallen.jpg" style="height: 80%; width: 80%"></img>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="service-item">
                    <img src="/static/img/klovern.jpg" style="height: 80%; width: 80%; margin-top: 20px"></img>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4  text-center" style="margin-top: 75px">
                <div class="service-item">
                    <img src="/static/img/innovationskontorett.png" style="height: 80%; width: 80%"></img>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item" style="margin-top: 20px; margin-left: 50px">
                    <img src="/static/img/lith_sv_vert_col.png" style="height: 80%; width: 80%"></img>
                </div>
            </div>
            <div class="col-md-4 text-center" style="margin-top: 60px">
                <div class="service-item">
                    <img src="/static/img/almi.png" style="height: 80%; width: 80%"></img>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /Intro -->

<!-- Services -->

<div id="services" class="services">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center" style="margin-top: 30px; margin-bottom: 30px;">
                <h2>Objektia hjälper dig hitta den lokalen som passar din verksamhet bäst.</h2>
                <p class="lead"><br>Vi tar lokalförmedling ett steg längre och ser till att du har det utbud och det underlag som krävs för att ta ett informerat beslut.</p>
            </div>
        </div>
    </div>

</div>
<!-- /Services -->

<!-- Callout -->
<div class="callout">
    <div class="vert-text">
        <h1>Effektivisera er sökprocess med hjälp av moderna verktyg</h1>
    </div>
</div>
<!-- /Callout -->



<!-- PORTFOLIO v3 -->
<div class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Sök bland markadens hela utbud
                    <br></h2>
                <p class="lead"> Missa aldrig det perfekta objektet. Objektia jobbar mot samtliga typer av fastighetsaktörer för att erbjuda ert företag maximala valmöjligheter.</p>
                <br>

                <div class="col-lg-8">
                    <ul class="icons-ul">
                        <li class="icon-li fa fa-check"> Butiks-, kontor- och lager-lokaler</li><br>
                        <li class="icon-li fa fa-check"> Fastigheter</li><br>
                        <li class="icon-li fa fa-check"> Mark</li>
                    </ul>
                </div>


            </div>
            <div class="col-lg-5 col-sm-6 center">
                <div class="portfolio-icon">
                    <i class="fa fa-globe fa-4x"></i>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="content-section-b">

    <div class="container">

        <div class="row">

            <div class="col-lg-5 col-sm-6 center">
                <div class="portfolio-icon">
                    <i class="fa fa-bar-chart-o fa-4x"></i>
                </div>
            </div>
            <div class="col-lg-5 col-lg-offset-1 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Etableringsunderlag<br></h2>
                <p class="lead">Ett väl grundat etableringsbeslut kräver kunskap om objektet och området.
                    Objektia erbjuder er en komplett sammanställning av relevant information så att ni slipper prospektera underlaget själva.</p>
                <br>

                <div class="col-lg-8">
                    <ul class="icons-ul">
                        <li class="icon-li fa fa-check"> Utökad objektinformation - få reda på så mycket som möjligt</li><br>
                        <li class="icon-li fa fa-check"> Områdesinformation - hur passar detta område just ert företag?</li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-b -->

<div class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Sök som en mäklare</h2>
                <p class="lead">Genom en utökad informationsmängd kan du söka med samma kunskap som en mäklare. </p>
                <br>

                <div class="col-lg-8">
                    <ul class="icons-ul">
                        <li class="icon-li fa fa-check"> Snittpriser</li><br>
                        <li class="icon-li fa fa-check"> Närhet till intressepunkter</li>
                        <li class="icon-li fa fa-check"> Parkering</li>
                    </ul>
                </div>

            </div>
            <div class="col-lg-5 col-sm-6 center">
                <div class="portfolio-icon">
                    <i class="fa fa-search fa-4x"></i>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="content-section-b">

    <div class="container">

        <div class="row">

            <div class="col-lg-5 col-sm-6 center">
                <div class="portfolio-icon">
                    <i class="fa fa-group fa-4x"></i>
                </div>
            </div>
            <div class="col-lg-5 col-lg-offset-1 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Bättre<br>transaktionskontakt</h2>
                <p class="lead">Mindre friktion i kontakten mellan er och utbjudaren leder till en snabbare etableringsprocess.
                Låt oss göra det enklare att förmedla ert företags behov så att en överenskommelse kan ske så fort som möjligt.</p>
                <br>



            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-b -->

<div id="services" class="services">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center" style="margin-top: 30px; margin-bottom: 30px;">
                <h2>Vår vision är att förändra marknaden för det bättre. </h2>
                <p class="lead"><br>För närvarande sluter vi samarbeten med fastighetsaktörer samt fortsätter vårt långa arbete med att kartlägga behoven hos objektsökande företag.
                Ta kontakt med oss redan idag så kan vi se hur vi kan hjälpa just er. </p>
            </div>
        </div>
    </div>

</div>
<!-- /.content-section-a -->

<!-- /PORTFOLIO v3 -->

<!-- Call to Action -->
<div class="call-to-action" id="beta">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 portfolio-icon center" id="beta-flask">
                <i class="fa fa-flask fa-4x"></i>
            </div>
            <div class="col-sm-6 col-sm-offset-3 center">
                <div class="signup-form">
                    <h2 class="section-heading"> Hjälp oss hjälpa er</h2>
                    <p class="lead">Lämna din email så kontaktar vi er snarast för att diskutera era synpunkter och behov.</p>
                    <br>
                    <form action="/" method="post">

                        <input class="form-control" id="email_input" placeholder="Emailadress" name="email" type="email" required>
                        <br>
                        <br>
                        <button class="btn btn-lg" id="sign-up-btn" data-toggle="modal" data-target="#myModal" type="submit">Kontakta Objektia</button>

                    </form>


                </div>


            </div>

        </div>
    </div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Objektia AB</h4>
      </div>
      <div class="modal-body">
        Vi har mottagit er mailadress. Vi kommer kontakta er inom kort. Om ni istället vill kontakta oss nås vi på hej@objektia.se alternativt finns vi tillgängliga på telefon på 0735-455 678.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>

      </div>
    </div>
  </div>
</div>
</div>

<!-- /Call to Action -->

<!-- Map
<div id="contact" class="map">
    <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
    <br />
    <small>
        <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
    </small>
    </iframe>
</div>
<!-- /Map -->

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <p>Följ oss på twitter och håll dig uppdaterad</p>
                <ul class="list-inline">
                    <li><a href="https://twitter.com/objektia"><i class="fa fa-twitter fa-3x"></i></a>
                    </li>
                </ul>
                <div class="top-scroll">
                    <a href="#top"><i class="fa fa-circle-arrow-up scroll fa-4x"></i></a>
                </div>
                <hr>
                <p>Copyright &copy; Objektia AB 2014</p>
                <div class="top-scroll">
                    <a href="#top"><i class="fa fa-arrow-circle-up scroll fa-4x"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- /Footer -->

<!-- JavaScript -->



<!-- Google Event tracking js handling -->
<script src="{{ url_for('static', filename='js/gae_event.js') }}"> </script>

<!-- Custom JavaScript for the Side Menu and Smooth Scrolling -->
<script>
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
</script>
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
</script>
<script>
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
</script>
<script>

</script>


</body>

</html>
